:root {
    --font-size-text: 56px;
    --ti-cursor-font-size: 24px;
    --ti-cursor-font-weight: 700;
    --size-frame-icon: 40px;
    --size-icon: calc(var(--size-frame-icon) /2);
}

.main-text>.text-secondary-2 {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);
    background: linear-gradient(to bottom, #333333, #ffffff);
    filter: drop-shadow(2px 4px 8px black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-text {
    font-size: var(--font-size-text);
    font-weight: 700;
}


.icon-owl {
    height: var(--font-size-text);
    width: var(--font-size-text);
    color: #fff;
}

.typewriter {
    font-size: var(--ti-cursor-font-size);
    font-weight: 600;
}

.ti-cursor {
    margin-left: 4px;
}

.contact-icon {
    position: relative;
    border-radius: 30%;
    box-shadow: 1px 1px 4px 0px #000000;
    width: var(--size-frame-icon);
    height: var(--size-frame-icon);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-icon::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(150, 150, 150, 0.432);
    border-radius: inherit;
    opacity: 0.2;
    z-index: -1;
}

.contact-icon:hover {
    transform: scale(1.04) translateY(-5px);
    box-shadow: 0 0 12px 2px #f6eaea;
}

.contact-icon>svg {
    width: var(--size-icon);
    height: var(--size-icon);
}








/* animation */
@keyframes fadeInUpLeft {
    0% {
        transform: translate3d(-30px, 30px, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animationUpDownBlink {
    0% {
        box-shadow: 0 0 20px 20px #c8c8c8;
        transform: translateY(0);
    }

    100% {
        box-shadow: 0 0 20px 0 #c8c8c8;
        transform: translateY(10px);
    }
}

@keyframes animationUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(20px);
    }
}

.fade-in-up-left {
    opacity: 0;
    animation: fadeInUpLeft 1s ease forwards;
}

.fade-in-right {
    opacity: 0;
    animation: fadeInRight 1s ease forwards;
}

.fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

.animation-up-down-blink {
    animation: animationUpDownBlink 3s ease-in-out alternate infinite;
}

.animation-up-down {
    animation: animationUpDown 2s ease-in-out alternate infinite;
}

.delay {
    animation-delay: calc(var(--i));
}

.paused {
    animation-play-state: paused;
}


.avt-size {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    object-fit: cover;
}

.big-avt>img {
    box-shadow: 0 0 1px 2px #b2b2b2;
}

.big-avt {
    position: absolute;
    z-index: 10;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 20px 20px #c8c8c8;
}

.orbit-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
}

.orbit-item {
    z-index: 11;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    transition: box-shadow 0.4s ease;
}

.orbit-item::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    opacity: 0.4;
    z-index: -1;
    background: #536976;
    background: -webkit-linear-gradient(to right, #292E49, #536976);
    background: linear-gradient(to right, #292E49, #536976);
    filter: drop-shadow(1px 2px 2px rgb(0, 0, 0));

}

.orbit-item svg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.orbit-item:hover {
    box-shadow: 0 0 15px 2px rgb(226, 226, 226);
}

.position-1 {
    top: 85%;
    left: 70%;
}

.position-2 {
    top: -15%;
    left: 75%;
}

.position-3 {
    top: 77%;
    left: -30%;
}

.position-4 {
    top: 5%;
    left: -25%;
}